Tax.Server/obj/
Tax.Server/obj/
Tax.Server/bin/
Q.dll
Tax.ICompanyModuleService/bin
.vs/Tax/v15/Server/sqlite3/storage.ide-wal
.vs/Tax/v15/Server/sqlite3/storage.ide
.vs/Tax/v15/.suo
Tax.ICompanyModuleService/obj/
Tax.ICompanyModuleService/bin/
Tax.CompanyModuleService/obj/
Tax.CompanyModuleService/bin/
