Tax.Server/obj/
Tax.Server/obj/
Tax.Server/bin/
Q.dll
Tax.ICompanyModuleService/bin
.vs/Tax/v15/Server/sqlite3/storage.ide-wal
.vs/Tax/v15/Server/sqlite3/storage.ide
.vs/Tax/v15/.suo
Tax.ICompanyModuleService/obj/
Tax.ICompanyModuleService/bin/
Tax.CompanyModuleService/obj/
Tax.CompanyModuleService/bin/
Tax.CompanyModuleService/Migrations/EfDbContextModelSnapshot.cs
Tax.CompanyModuleService/Migrations/20180730053023_Add_CustomerTable.cs
Tax.CompanyModuleService/Migrations/20180730053023_Add_CustomerTable.Designer.cs
.vs/Tax/v15/Server/sqlite3/storage.ide-shm
Tax.IModuleServices/obj/project.assets.json
Tax.IModuleServices/obj/Tax.IUserModuleService.csproj.nuget.g.targets
Tax.IModuleServices/obj/Tax.IUserModuleService.csproj.nuget.g.props
Tax.IModuleServices/obj/Tax.IUserModuleService.csproj.nuget.cache
Tax.IModuleServices/obj/Tax.IModuleServices.csproj.nuget.g.targets
Tax.IModuleServices/obj/Tax.IModuleServices.csproj.nuget.g.props
Tax.IModuleServices/obj/Tax.IModuleServices.csproj.nuget.cache
Tax.IModuleServices/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
Tax.IModuleServices/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
Tax.IModuleServices/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
Tax.IModuleServices/obj/Debug/netcoreapp2.1/Tax.IUserModuleServices.csproj.CoreCompileInputs.cache
Tax.IModuleServices/obj/Debug/netcoreapp2.1/Tax.IUserModuleServices.assets.cache
Tax.IModuleServices/obj/Debug/netcoreapp2.1/Tax.IUserModuleServices.AssemblyInfoInputs.cache
Tax.IModuleServices/obj/Debug/netcoreapp2.1/Tax.IUserModuleServices.AssemblyInfo.cs
Tax.IModuleServices/obj/Debug/netcoreapp2.1/Tax.IUserModuleService.pdb
Tax.IModuleServices/obj/Debug/netcoreapp2.1/Tax.IUserModuleService.dll
Tax.IModuleServices/obj/Debug/netcoreapp2.1/Tax.IUserModuleService.csprojResolveAssemblyReference.cache
Tax.IModuleServices/obj/Debug/netcoreapp2.1/Tax.IUserModuleService.csproj.FileListAbsolute.txt
Tax.IModuleServices/obj/Debug/netcoreapp2.1/Tax.IUserModuleService.csproj.CoreCompileInputs.cache
Tax.IModuleServices/obj/Debug/netcoreapp2.1/Tax.IUserModuleService.assets.cache
Tax.IModuleServices/obj/Debug/netcoreapp2.1/Tax.IUserModuleService.AssemblyInfoInputs.cache
Tax.IModuleServices/obj/Debug/netcoreapp2.1/Tax.IUserModuleService.AssemblyInfo.cs
Tax.IModuleServices/obj/Debug/netcoreapp2.1/Tax.IModuleUserServices.csproj.CoreCompileInputs.cache
Tax.IModuleServices/obj/Debug/netcoreapp2.1/Tax.IModuleUserServices.assets.cache
Tax.IModuleServices/obj/Debug/netcoreapp2.1/Tax.IModuleUserServices.AssemblyInfoInputs.cache
Tax.IModuleServices/obj/Debug/netcoreapp2.1/Tax.IModuleUserServices.AssemblyInfo.cs
Tax.IModuleServices/obj/Debug/netcoreapp2.1/Tax.IModuleServices.pdb
Tax.IModuleServices/obj/Debug/netcoreapp2.1/Tax.IModuleServices.dll
Tax.IModuleServices/obj/Debug/netcoreapp2.1/Tax.IModuleServices.csprojResolveAssemblyReference.cache
Tax.IModuleServices/obj/Debug/netcoreapp2.1/Tax.IModuleServices.csproj.FileListAbsolute.txt
Tax.IModuleServices/obj/Debug/netcoreapp2.1/Tax.IModuleServices.csproj.CoreCompileInputs.cache
Tax.IModuleServices/obj/Debug/netcoreapp2.1/Tax.IModuleServices.assets.cache
Tax.IModuleServices/obj/Debug/netcoreapp2.1/Tax.IModuleServices.AssemblyInfoInputs.cache
Tax.IModuleServices/obj/Debug/netcoreapp2.1/Tax.IModuleServices.AssemblyInfo.cs
Tax.IModuleServices/bin/Debug/netcoreapp2.1/Tax.IUserModuleService.pdb
Tax.IModuleServices/bin/Debug/netcoreapp2.1/Tax.IUserModuleService.dll
Tax.IModuleServices/bin/Debug/netcoreapp2.1/Tax.IUserModuleService.deps.json
Tax.IModuleServices/bin/Debug/netcoreapp2.1/Tax.IModuleServices.pdb
Tax.IModuleServices/bin/Debug/netcoreapp2.1/Tax.IModuleServices.dll
Tax.IModuleServices/bin/Debug/netcoreapp2.1/Tax.IModuleServices.deps.json
