Tax.Server/obj/Debug/netcoreapp2.1/Tax.Services.Server.csprojResolveAssemblyReference.cache
Tax.Server/obj/Debug/netcoreapp2.1/Tax.Services.Server.csproj.FileListAbsolute.txt
Tax.Server/bin/Debug/netcoreapp2.1/Tax.ICompanyModuleService.pdb
Tax.Server/bin/Debug/netcoreapp2.1/Tax.ICompanyModuleService.dll
Tax.Server/bin/Debug/netcoreapp2.1/Tax.CompanyModuleService.pdb
Tax.Server/bin/Debug/netcoreapp2.1/Tax.CompanyModuleService.dll
Tax.Server/bin/Debug/netcoreapp2.1/Surging.Core.EventBusRabbitMQ.pdb
Tax.Server/bin/Debug/netcoreapp2.1/Surging.Core.EventBusRabbitMQ.dll
Tax.ICompanyModuleService/bin/Debug/netcoreapp2.1/Tax.ICompanyModuleService.dll
Tax.CompanyModuleService/obj/Debug/netcoreapp2.1/Tax.CompanyModuleService.pdb
Tax.CompanyModuleService/obj/Debug/netcoreapp2.1/Tax.CompanyModuleService.dll
Tax.CompanyModuleService/bin/Debug/netcoreapp2.1/Tax.ICompanyModuleService.dll
Tax.CompanyModuleService/bin/Debug/netcoreapp2.1/Tax.CompanyModuleService.pdb
Tax.CompanyModuleService/bin/Debug/netcoreapp2.1/Tax.CompanyModuleService.dll
.vs/Tax/v15/Server/sqlite3/storage.ide-wal
.vs/Tax/v15/Server/sqlite3/storage.ide
.vs/Tax/v15/.suo
Tax.ICompanyModuleService/obj/Debug/netcoreapp2.1/Tax.ICompanyModuleService.pdb
Tax.ICompanyModuleService/obj/Debug/netcoreapp2.1/Tax.ICompanyModuleService.dll
Tax.ICompanyModuleService/obj/Debug/netcoreapp2.1/Tax.ICompanyModuleService.csprojResolveAssemblyReference.cache
Tax.ICompanyModuleService/bin/Debug/netcoreapp2.1/Tax.ICompanyModuleService.pdb
Tax.CompanyModuleService/obj/Debug/netcoreapp2.1/Tax.CompanyModuleService.csprojResolveAssemblyReference.cache
Tax.CompanyModuleService/obj/Debug/netcoreapp2.1/Tax.CompanyModuleService.csproj.FileListAbsolute.txt
Tax.CompanyModuleService/bin/Debug/netcoreapp2.1/Tax.ICompanyModuleService.pdb
